In [1]:
#MOD 4.7.8

In [2]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [3]:
# Call the function.
say_hello()

Hello!

In [4]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [5]:
# Call the function.
say_something("Hello World")

Hello World

In [6]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [7]:
#MOD 4.7.8

# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [8]:
passing_math_count = 29370
total_student_count = 39170


# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# Change the grades by one letter grade.
#note all 'B' are replaced in single statement
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

#Syntax: map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade)) #zero decimal places
    print("{:.5f}".format(grade)) #five decimal places

92
92.34000
85
84.56000
87
86.78000
98
98.32000

In [13]:
#Chaining the map() and format() Functions

# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [17]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:.0f}".format)
district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined